@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700&family=Marhey:wght@300..700&display=swap');

.reportContainer {
  font-family: 'Arial', sans-serif;
  direction: rtl;
  text-align: right;
  width: 850px;
  margin: 20px auto;
  border: 2px solid black;
  padding: 20px;
  background-color: white;
  color: black;
}

.header {
  text-align: right;
  margin-bottom: 20px;
  font-weight: bold;
}
.header h2 {
  text-align: center;
}

.reportContainer h2 {
  font-size: 24px;
  font-weight: bold;
}

.reportContainer h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.fieldRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;

  text-justify: auto;
  gap: 10px;
}

.fieldRow span {
  margin-right: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

.underline {
  display: inline-block;
  border-bottom: 1px solid #000;
  width: 100px; /* Adjust width as needed */
}

.tableSection {
  margin-top: 20px;
}
.tableSection h3 {
  text-align: center;
  text-decoration: underline;
}

.reportTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.reportTable th,
.reportTable td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

.reportTable th {
  font-weight: bold;
  background-color: #f4f4f4;
  direction: rtl;
}

.footer {
  margin-top: 30px;
}

.footer div {
  margin-bottom: 15px;
}

.employeeDetails h3 {
  text-align: center;
}
.leaveDetails h3 {
  text-align: center;
}
.select {
  width: 130px;
  height: 40px;
  padding: 10px;
  font-size: 10px;
  font-weight: bold;
  color: black;
  font-family: Marhey, sans-serif;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  outline: none;
  margin: 0 0 10px 0;
  text-align: center;
}

/* Date Picker Styles */
.input[type='date'] {
  width: 150px;
  height: 40px;
  padding: 10px;
  font-size: 10px;
  font-weight: bold;
  color: black;
  font-family: Marhey, sans-serif;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  outline: none;
  margin: 0 0 10px 0;
  text-align: center;
}
.input[type='text'] {
  position: relative;
  top: -10px;
}

/* Change border color on focus */
.input[type='date']:focus {
  border-color: #007bff;
}

@media print {
  .body {
    margin: 0;
    padding: 0;
  }
  .body h2,
  .body h3 {
    text-align: center;
  }
  .reportContainer {
    font-size: 14px;
    line-height: 1.5;
  }
  .button {
    display: none; /* Hide buttons when printing */
  }
}
