/* scanner.module.css */
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700&family=Marhey:wght@300..700&display=swap');

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: 'Marhey', sans-serif;
  direction: rtl;
}

.container h1 {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Marhey', sans-serif;
}

.form-group {
  margin-bottom: 20px;
}

.container label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.container input[type='text'] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.container input[type='text']:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.react-select-container {
  font-size: 16px;
}

.container button {
  display: inline-block;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  font-family: Marhey, sans-serif;
}

.container button:hover {
  background-color: #0056b3;
}

.container button:active {
  background-color: #004085;
}

.container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  .container h1 {
    font-size: 20px;
  }

  .container button {
    font-size: 16px;
  }
}
